.dashboard-layout {
    display: grid;
    grid-template-columns: 2fr 10fr;
    min-height: calc(100vh - 58px);
}

.page-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.page-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 5px 15px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    height: 50px;
}
.page-content-header-title {
    font-size: 24px;
    line-height: 1;;
    font-weight: 600;
}
.page-content-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: unset;
}

.sidebar-link {
    display: block;
    font-size: 18px;
    padding: 8px 16px;
    margin-bottom: 10px;
    color: #343a40;
    background-color: #e9ecef;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 600;
}

.sidebar-link-active {
    background-color: #ffa500;
    color: #fff;
    cursor: unset;
}

.edit-movie-container {
    height: 100%;
}